.site-navbar{
	background-color: #911721;
}
.btn-outline.btn-primary{
	color: #911721;
}
.btn-primary{
	    border-color: #911721;
}
.btn-unjbg:hover{
	    border-color: #911721 !important;
	    color: white !important;
	    background: #911721 !important;
}